<div class="container__big-card">

  <div class="big-card__photo">
    <img
      src="https://www.esenceweb.com/backend/uploads/angular-framework-tutorial-for-absolute-beginners.png"
      alt=""
      height="200px"
      srcset=""
    >    
  </div>
  
  <div class="big-card__title">
    <h1>
      <a href="#">Saiu a nova versão do Angular</a>
    </h1>
  </div>
  
  <div class="big-card__description">
    <p>
      <a href="">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum semper aliquam aliquam. Curabitur placerat varius commodo. Cras dapibus sit amet leo eget scelerisque.
      </a>
    </p>
  </div>

</div>